@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

html {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #41b3a3;
}

h1 {
    font-family: 'Rock 3D', cursive, sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Padauk', cursive, sans-serif;
    text-align: center;
}

.container {
    border: 5px solid #696969;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8a87c;
    max-width: 800px;
    padding: 10px;
    min-width: 250px;
    min-height: 300px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cityinput {
    border-radius: 5px;
    height: 30px;
    font-family: cursive;
    font-size: 24px;
}

.searchbutton {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    position: relative;
    height: 30px;
}

.searchbutton:hover {
    border-color: #7a7a7a;
}

.searchbutton:active {
    background-color: #999999;
}

.cityinput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}